/* CARDS */
.cards {
    max-width: 1200px;
    max-height: 800px;
    margin: 3rem 1rem 40rem 1rem;
    display: grid;
    gap: 1rem;
  }
  .title-overlay{
    color: azure;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 1.25rem;
  }

.card {
    padding: .5rem;
    height: 20rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: #213555;
    border-radius: 25px;
    
    
  }
  
  .card:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .image-row {
    display: flex;
    margin-top: 2rem;
    gap: .25rem;
  }
  
  .image-row > img {
    flex: 1;
    object-fit: contain;
    height: 50px;
  }

  .links{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .github3{
    transition: .25s ease;
  }
  .github3:hover{
    fill: black;
  }

  .globe{
    transition: .25s ease;
  }
  .globe:hover{
    fill: #3067c0;
  }

  .k{
    display: none;
  }

  
/* MEDIA QUERIES */
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr);
      margin:7rem auto }
    .card > img {
      object-fit: contain;
    }

    .image-row{
      gap: 1rem;
    }
    .k{
      display: initial;
    }
  }